body {
  font-family: 'DM Serif Display';
  margin: 0;
  padding: 0;
  background-color: black;
  transition: background-color 0.5s ease;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #292b2c;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#welcome {
  font-size: 40px;
  font-weight: 700;
  color: #8f450d;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
  background-color:  #8f450d;
  color: white;
  border-radius: 5px;
}

main {
  padding-top: 80px;
  padding-left: 2rem;
  padding-right: 2rem;
  transition: padding-left 0.3s ease, padding-right 0.3s ease;
}

.section {
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.home-section {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px); 
  animation: fadeIn 2s;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
  transition: opacity 1s ease-in-out;
  opacity: 0.6;
}

.profile-picture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-right: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
}

.content {
  animation: fadeInUp 1s;
}

h1, h2 {
  margin: 0 0 1rem 0;
  font-weight: 700;
  color: #B28765;
}

p {
  color: #555;
  line-height: 1.6;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.5rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

button {
  display: inline-block;
  background-color: #8f450d;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:  #8f450d;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin-bottom: 10px;
  }

  main {
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .section {
      margin-bottom: 2rem;
  }

  input, textarea {
      width: calc(100% - 1rem);
  }
}